body{
  color: gray;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a{
  color: #419dbc
}
.small{
  font-size: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container{
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.login {
  margin: 100px 0;
  padding: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.space{
  padding: 20px 0;
  min-height: 50px;
}

h3{
  padding: 0;
  margin: 0;
}